@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(249, 247, 241);
}
.nav li{
    display: inline;
    padding: 2em;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 15px;
}

.nav a:hover{
    background-color: rgba(196, 164, 132,.2) ;
}

.main-header{
    position: fixed;
    width: 100%;
    background-color: rgba(196, 164, 132,.2) ;
    height: 100px;
}
.main-header h1{
    font-weight: normal;
    color: rgba(78, 42, 5, 0.835);
    padding: 10px;
 
}

.main-header nav {
    text-align: center;
}

.foot {
    background-color: rgba(196, 164, 132,.2);
    padding: 0;
    bottom: 0px;
    width: 100%;
  
}
.foot ul{
    text-align: center;
}

.foot a:hover{ 
    background-color: rgba(196, 164, 132,.2) ;
    padding: 40px 10px 0px 10px;
 
}

.btn{
    cursor: pointer;  
    padding: 10px;
    border-radius: .3em;
}

.vids{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5em;
    text-align: center;
}
.vid-image{
    height: 200px;
}

.vid-title span{
    display: block;
    font-size: 1.2em;
    padding: 10px;
    align-items: center;
}

.h1t{
    text-align: center;
}

.page{
    padding-top: 200px;
}


.cart-header{
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    
}
.cart-row{
    display: flex;
}
 
.cart-item{
    width: 450px 
    
}

.cart-cost{
    width: 200px;
}

.cart-quantity{
    width: 350px;
}

.cart-btn{
    margin-left: 10px;
    color: white;
    background-color: rgb(248, 72, 72);
    border: none;
}
.cart-btn:hover{
    background-color: red;
}

.cart-image{
    width: 100px;
    height: auto;
    border-radius: .5em;
}

.cart-price{
    font-weight: bolder;
}

.cart-input{
    height: 50px;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 0;
    border: 1px solid rgb(86, 120, 224);
  
}

.container{
    margin-left: 20%;
    margin-right: 20%;
}  

.cart-row:last-child{
    border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column{
    border: none;
}

.cart-item.cart-header{
    padding-right: 500px;
}

.cart-item.cart-column{
    padding-right: 200px;
}

.total{
    text-align: end;
    font-weight: bolder;
    margin-top: 10px;
}

.total-btn{
    display: block;
    margin: 40px auto;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(248, 72, 72);
    color: white;
    border: none;
}

.total-btn:hover{
    background-color: red;
}
