@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato:wght@100;300&family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato:wght@100;300&family=Mooli&family=Prata&family=Roboto&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;

    
    margin: 0;
    padding: 0;
}


body{
  
   background-color: rgba(245, 211, 153, 0.77);
   overflow-x: hidden;

}

.body{
    transition: all 1s ease;
    
}

.body.section2scroll{
    background-color: rgba(253, 239, 217, 0.77);
}

.body.scrolled{
    background-color: rgba(249, 237, 218, 0.77);
}

.body.dark{
    background-color: rgba(249, 204, 131, 0.77);
}

.main-header.darkheader{
    background-color: rgba(251, 214, 156, 0.77);
}


.main-header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgba(254, 236, 210, 0.523);
    transition: all 0.5s ease;
    z-index: 2;
    border-bottom: 1px solid rgb(23, 2, 2);
    backdrop-filter: blur(5px);
  
}

.main-header.scrolled{
    .navigation{
        padding-top: 20px;
    }
    .name-title{
        padding-top: 8px;
        padding-bottom: 10px;
        color: #8B4513;
    }
    .nav a{
        color: black;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
       
    }

    .nav a:hover{
        background-color: rgba(206, 157, 94, 0.714);
         .main-header{
            background-color: rgb(24, 20, 6);
        }
    }
   background-color: rgba(249, 247, 241, 0.61);
   height: 60px;
}
@media screen and (max-width: 768px) {

    .navigation{
        padding-right: 10px;
    }
    
    .main-header.scrolled{
        .nav li{
          padding-right: 8px;
        }
    }
    .nav a {
        font-size: 12px;
    }
    .name-title{
        display: none;
    }
    .tab-row{
        width: 20%;
    }
    .about-me ul{
        padding-left: 20px;
    }
    .about-me a{
        font-size: 12px;
        
    }
   
    .links{
        visibility: hidden;
    }
    /* Tabs Section */
    .tab-container{
        .tab-row{
            width: 400px;

            .tab-icon-link{
                display: none;
            }
            .tab-title{
                width: 22%;
            }
            .songname{
                font-size: 15px;
                font-weight: bold;
            }
        }
        
    }
    .tab-shop-column{
        .tab-shop-row{
            width: 400px;
        }
        .songname{
            font-weight: bold;
            font-size: 15px;
        }
        .tab-icon-link{
            display: none;
        }
        .tab-title{
            width: 20%;
        }
        .tab-button-remove{
            width: 50px;
            font-size: 8px;
    
        }

       
    }
}

.section1{
    position: relative;
    height: 100vh;
}


.slide-container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curve{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 80%;
    width: 55%;
    height: 100%;
    background-color: rgba(245, 211, 153, 0.77);
    transform: translate(80%, 60%);
}

.curve::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 80%;
    width: 55%;
    height: 100%;
    background-color: rgba(249, 237, 218, 0.77);
    transform: translate(-4%, 20%);
    z-index: -1;
}


.slide{
   
    position: relative;
    left: -100px; /* Initial position (off-screen to the left) */
    animation: slide 1s ease forwards;
    font-family: 'Prata', serif;

}

.slide2{
    font-size: 60px;
    padding-top: 60px;
    padding-left: 10px;
    color: rgb(49, 45, 45);
}

.slide.slide-out{
    animation: slide-out 3s ease forwards;
}
 .welcome-slide{
    
    font-weight: 500;
    font-size: 80px;
    
}

@keyframes slide-out {
    0% {
        left:0%;
    }
    100%{
        left: 100%;
    }
    
}
@keyframes slide{
    0%{
        left: -100%;
    }

    100%{
        left: 0;
    }
}

.navigation{
    display: flex;
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    justify-content: end;
    height: 100%;
    padding-top: 30px;
    transition: all 0.5s ease;
}

.name-title{
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    padding-left: 40px;
    padding-top: 25px;
    font-size: 30px;
    color: rgba(20, 19, 19, 0.996);
    transition: all 0.5s ease;
}   




.nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
    border-radius: 100px;
    background-size: 150% auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav a:hover{
    padding-right: 30px;
}

.nav li{
    display: inline;
  
    transition: all 0.5s ease;
}
.nav{
    padding-right: 40px;
}

.foot{
    
    bottom: 0;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.about-me{
    background-color: rgba(221, 161, 118, 0.2);
    position: absolute;
    padding-top: 33px;
    width: 100%;
    font-size: 15px;
    padding-left: 5px;
    padding-bottom: 30px;
  
}
.about-me a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
   
}
.about-me a:hover{
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
.about-me ul li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
   
}

ul{
    list-style:none;
}

.links{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 20px 2px 20px 2px;
    
}

.links li{
    display: inline;    
    padding: 10px 5px 0px 5px;
    font-size: 15px;
    font-weight: 500;

}

.links h1{
    padding-bottom: 20px;
}

.iconlinks{ 
    padding: 30px 10px 0px 10px;
    border-radius: 40px;
    opacity: .5;
    transition: all 0.5s ease;
}

.iconlinks:hover{
   opacity: 1;
}

.icons{
    height: 40px;
    width: 40px;
    opacity: 0.7;
}
.icons:hover{
    filter: opacity(1) drop-shadow(0 0 white);
    height: 40px;
    width: 40px;
}

.btn{
    cursor: pointer;  
    padding: 10px;
    border-radius: .3em;
}

.vids{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    padding-top: 40px;
    text-align: center; 
    
}

.vid{
    position: relative;
}

.vid-image{
    height: 200px;
    border-radius: 20px;
    transition: all 0.4s ease;
}
.lol{
    font-size: 15px;
}

.vid-image:hover{
 
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    text-align: center;

}

.vid-title span{
    display: block;
    font-size: 1.2em;
    padding: 10px;
    align-items: center;
}

.h1t{
    text-align: center;
    color: black;
    padding-top: 150px;
}

.h2t{
    opacity: 0%;
    position: relative;
    text-align: center;
    font-size: 30px;
 
}

.h2t.scrolled{
    opacity: 0%;
    top: -100px;
    animation: appearFromTop 1s ease forwards;
}


@keyframes appearFromTop {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% {
        opacity: 1; /* Fully visible */
        top: 0; /* Moves to its final position */
    }
}

.page{
    margin-top: 200px;
   
}


.cart-header{
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    
    
}
.cart-row{
    
    display: flex;
}
 
.cart-item{
    width: 450px 
    
}

.cart-cost{
    width: 200px;
}

.cart-quantity{
    width: 350px;
}

.cart-btn{
    margin-left: 10px;
    color: white;
    background-color: rgb(248, 72, 72);
    border: none;
}
.cart-btn:hover{
    background-color: red;
}

.cart-image{
    width: 100px;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 15px 20px 0px;
}

.cart-price{
    font-weight: bolder;
}

.cart-input{
    height: 50px;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 0;
    border: 1px solid rgb(86, 120, 224);
}

.container{
    margin-left: 20%;
    margin-right: 20%;
}  

.cart-row:last-child{
    border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column{
    border: none;
}

.cart-item.cart-header{
    padding-right: 500px;
}

.cart-item.cart-column{
    padding-right: 200px;
}

.total{
    text-align: end;
    font-weight: bolder;
    margin-top: 10px;
}

.total-btn{
    display: block;
    margin: 40px auto;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(248, 72, 72);
    color: white;
    border: none;
}

.total-btn:hover{
    background-color: red;
}

.play-btn{
    width: 80px;
    border-radius: 50px;
    color: white;
    background-color: rgb(255, 0, 0);
}

.vid-image{
   width: 450px;
   height: auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   text-align: center;
   margin: 20px;
}

.gears{
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}  

.gear-image{
    width: 200px;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.gear-image-capo{
    margin-bottom: 130px;
}

.gear-dets{
    margin-top: 20px;
}

.add-to-cart{
    margin-left: 10px;
    border-radius: 50px;
    background-color:rgb(248, 72, 72);
    color: white;
    border: none;
    margin-top: 10px;
}

.add-to-cart:hover{
    background-color:rgb(244, 35, 35);
}

.gear-box{
    margin-top: 40px;
}

.gear-title-header{
    padding-top: 150px;
}

.total-price{
    display: grid;
    text-align: center;
}

.tab-container{
    padding-top: 30px;
    display: flex;
    justify-content: center;
   
}

.tab-row{
    padding: 10px 15px 10px 10px;
    border-radius: 5px;
    background-color: blanchedalmond;
    display: flex;
    width: 680px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.tab-row:hover:not(:first-child){
    background-color: rgb(252, 214, 156);
}

.tab-row:not(:last-child){
    margin-bottom: 10px;
}

.tab-row:first-child{
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.tab-title{
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.tab-tuning{
    padding-top: 15px;
    width: 50%;
    text-align: center;
}

.tab-buy{
    width: 25%;
    display: flex;
    align-items: center; 
 
}

.tab-icon-link{
    opacity: 0.7;
    transition: all 0.3s ease;
}

.tab-icon-link:hover{
    opacity: 1;
    border-radius: 30px;
    padding-left: 5px;
}

.tab-button{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: rgba(222, 184, 135, 0.767);
    
    transition: all 0.5s ease;
    border-radius: 10px;
}

.tab-button:hover{
    background-color: rgb(206, 157, 94);
}

.tab-price{
    font-size: larger;
}

.cart-title{

    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.tab-shop-row{
    width: 800px;
    display: flex;
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 40px;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
    animation: fadeIn 0.5s; 
    transition: opacity 2s ease;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  

 
.tab-shop-container{
    display: flex;
    justify-content: center;
}

.tab-shop-total{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.tab-shop-finalprice{
    padding-top: 10px;
   margin-left: 40%;
   margin-right: 40%;
   border-radius: 20px;
    border-top: 2px solid black;
    transition: all 1s ease;
}

.tab-panel-title{
    box-shadow: none;
    padding-left: 20px;
    background-color: rgb(249, 247, 241);
}

.tab-title-panel{
    font-size: 13px;
    padding-bottom: 20px;
}

.tab-panel-tuning{
    padding-top: 5px;
    width: 50%;
    text-align: center;
    font-size: 13px;
}

.tab-purchase-btn{
    height: 50px;
    width: 70px;
    border-radius: 50px;
    margin-top: 10px;
}

.moving{
    
    pointer-events: none; /* Ensures the span doesn't interfere with interactions */
    transition: transform 0.2s ease; /* Add a smooth transition effect */
}


.about-me-container{

    display: flex;
    justify-content: center;

}

.about-me-column{
  
    display: flex;
    padding-top: 150px;
    width: 50%;
}

.about-me-desc{
    padding-left: 10px;
    font-size: 20px;
    font-weight: lighter;
}

.about-me-title{
    position: absolute;
    width: 50%;
    text-align: center;
    
}

.mini-about-me-section{
    width: 100%;
    height: 120vh;
}

.profilepic{
    position: relative;
    border-radius: 500px;
    width: auto;
    height: 500px;
    margin: 100px;
    opacity: 0%;
}
.profilepic.profilescrolled{
    animation: appearfromleft 1s ease forwards; 
}

@keyframes appearfromleft {
    0%{
         opacity: 0%;
        left: 100%;}
    100%{
        opacity: 100%;
        left: 0%;}
    
}

.mini-leftsection{
    width: 100%;
}

.mini-about-me-desc{
    display: flex;
    position: relative;
    font-size: 70px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: right;
}

.mini-leftsection{
    position: relative;
    opacity: 0%;
}

.mini-leftsection.descscrolled{
    animation: appearfromright 1s ease forwards;
}

@keyframes appearfromright {
    0%{
        opacity: 0%;
        right: 100%;
    }
    100%{
        right: 0%;
        opacity: 100%;
    }
}
.mini-about-me{
   display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
   
}

.vid-slide1{
    opacity: 0%;
}
.vid-slide1.highlightslide1{
    animation: vidslide1 1s ease forwards;
}



@keyframes vidslide1 {
    0%{
        opacity: 0%;
        right: 100%;
    }
    100%{
        opacity: 100%;
        right: 0%;
    }
}

.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: rgb(137, 106, 5);
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(45, 88%, 27%, 0.862);
}

.page{
    padding-top: 100px;
}

.page-vids{
    height: 100vh;
    margin-bottom: 100px;
}


.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 5;
    pointer-events: none;
}

.tabssection{
    width: 100%;
    height: 100vh;
}

.tabs-container{
    position: relative;
    display: flex;
    align-items: center;
  
}

.tabcontainer{  
    position: relative;
    display: flex;
    height: 100ch;
    width: 50%;
    align-items: center;
    opacity: 0%;
}
.tabcontainer.scroll{
    animation: appearfromright 1s ease forwards;
}

.tab-images{
    position: relative;
    width: auto;
    height: 500px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}

.tab1{
    left: 110px;
}

.tab2{
    top: 30px;
    left: 20px;
}

.tab3{
    right: 500px;
    top: 50px;
}

.tabs-desc-container{
    position: relative;
    opacity: 0%;
}
.tabs-desc{
    position: relative;
    font-family: 'Prata', serif;
    font-size: 80px;
}

.tabs-desc-container.scroll{
    animation: appearfromleft 1s ease forwards;
}

.about-me-button{

    position: absolute;
    display: flex;
    left: 85%;
    top: 110%;
    background-color: rgba(222, 184, 135, 0.767);
    transition: all 0.5s ease;
    
}

.about-me-button:hover{
    background-color: rgba(216, 166, 101, 0.767);
    padding: 25px;
}

.tabs-button{
    position: absolute;
    display: flex;
    background-color: rgba(255, 235, 210, 0.867);
    transition: all 0.5s ease;
}

.tabs-button:hover{
    background-color: rgba(252, 238, 222, 0.867);
    padding: 25px;
}

.button{
    border: none;
    padding: 20px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.button:hover{
   
}

.btnlink{
    text-decoration: none;
}








